{var $menu = $control->structure}
{var $depth => 1}
<div id="imMenu">
{block #menu}
	<ul id="uber-menu">
		{foreach (array)$menu as $r => $v}
			{var $item => $control->getItemInfo($r, $v)}
			<li class="{!$control->generateClass( $item )}">{!$control->generateLink( $item )}<!-- Begin 4 columns Item -->
			{if is_array($v)}{include #menu2, 'menu' => $v, 'notFirstUl' => 0, 'depth' => $depth+1}{/if}</li>
		{/foreach}
    </ul>
{/block}

{define #menu2}
{var $style = 'column'}
{if count($menu)>1}{var $style = 'columns'}{/if}
<div class="dropdown_{? echo count($menu)}{$style}"><!-- Begin 4 columns container -->
				{*
				<div class="col_4">
					<h2>This is a heading title</h2>
				</div>
				*}

				{if count($menu)>1}
					{foreach $menu as $r => $v}
						{var $item => $control->getItemInfo($r, $v)}
						<div class="col_1">
							<h3>{!$control->generateLink( $item )}</h3>
							{if is_array($v)}{include #menu3, 'menu' => $v, 'notFirstUl' => 0, 'depth' => $depth+1}{/if}
						</div>
					{/foreach}
				{else}
					{foreach $menu as $r => $v}
					{include #menu3, 'menu' => $v, 'notFirstUl' => 0, 'depth' => $depth+1}
					{/foreach}
				{/if}

				{*

				<div class="col_1">

					<h3>Useful Links</h3>
					<ul>
						<li><a href="#">NetTuts</a></li>
						<li><a href="#">VectorTuts</a></li>
						<li><a href="#">PsdTuts</a></li>
						<li><a href="#">PhotoTuts</a></li>
						<li><a href="#">ActiveTuts</a></li>
					</ul>

				</div>

				<div class="col_1">

					<h3>Other Stuff</h3>
					<ul>
						<li><a href="#">FreelanceSwitch</a></li>
						<li><a href="#">Creattica</a></li>
						<li><a href="#">WorkAwesome</a></li>
						<li><a href="#">Mac Apps</a></li>
						<li><a href="#">Web Apps</a></li>
					</ul>

				</div>

				<div class="col_1">

					<h3>Misc</h3>
					<ul>
						<li><a href="#">Design</a></li>
						<li><a href="#">Logo</a></li>
						<li><a href="#">Flash</a></li>
						<li><a href="#">Illustration</a></li>
						<li><a href="#">More...</a></li>
					</ul>
				</div>*}

			</div><!-- End 4 columns container -->
{/define}

{define #menu3}
	<ul>
		{foreach (array)$menu as $r => $v}
			{var $item => $control->getItemInfo($r, $v)}
			<li>
				{!$control->generateLink( $item )}
			</li>
		{/foreach}
	</ul>
{/define}

</div>


{*
<ul>
<li id="menu-uvod">
<a href="http://localhost/base">
<span>Úvod | </span>
</a>
</li>
</ul>

{foreach $menu as $r => $v}
        {var $item => $control->getItemInfo($r, $v)}
        <li class="{!$control->generateClass( $item )}">
			{!$control->generateLink( $item )}
        {if is_array($v)}{include #menu, 'menu' => $v, 'notFirstUl' => 0, 'depth' => $depth+1}{/if}</li>
    {/foreach}
*}
