a.colorbox { text-decoration: none }

.item-left img {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    /* padding: 1px; */
	
	
	/* super zakulacene rohy */
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
}


.item-left span {
	padding: 0 10px;
	font-size: 12px;
}
.item-left {
	color: #656565;
	float: left;
	height: 229px;
	margin: 8px 16px;
	padding: 3px 0px 0px;
	position: relative;
	text-align: center;

}
