
<div class="lb_gallery">
{if !empty( $ref )}
{foreach $ref as $r}
	<h2 n:if="count($ref)>1">{$r['name']}</h2>
	{foreach @(array)$ri[ $r['id_gallery'] ] as $i}
	<div class="item-left">
		<a href="{$baseUri}/images/gallery/big/{!$i['image_path']}" class="colorbox" title="{$i['short_text']}">
			<img src="{$baseUri}/images/gallery/small/{$i['image_path']}" alt="{$r['name']}">
		</a><br />
		<span>{$i['short_text']}</span>
	</div>
	{/foreach}
	<div class="clear-left"></div>
{/foreach}
{/if}<br />
</div>


<script type="text/javascript" n:syntax="off">
var title = '';
$(window).load(function() {
	$(function() {
		$('.colorbox').colorbox({
			rel:'group1',
			title:title,
			maxWidth:'95%',
			maxHeight:'95%'
		});
	});
});
</script>
