{control js 'common/jquery.colorbox/jquery.colorbox.js'}
{control css 'jquery.colorbox/colorbox.css'}

<script type="text/javascript" src="/javascript/common/jquery.colorbox/jquery.colorbox.js"></script>
<link rel="stylesheet" type="text/css" href="/styles/jquery.colorbox/colorbox.css">	
