
{var $pageStyle => 'mlmadmin-newsreel.css'}
{block content}
{control newsreelForm}


<script type="text/javascript" src="{!$baseUri}/js/jquery/jquery.ui.datepicker-cs.js"></script>
<script type="text/javascript">
$(function() {
		$("#frmnewsreelForm-insert_date").datepicker();
		$("#frmnewsreelForm-insert_date").datepicker.regional['cs'];
});
MenuSave={
	// změna stavu - ukládat do menu
	state:true,
	onChange:function(element) {
		if( this.state == false) {
			this.state = true;
		} else {
			this.state = false;
		}
		$('#frmnewsForm-id_menu').attr("disabled", this.state);
    }
}
</script>
{include _ckeditor.phtml}
{/block}

{block #htmlhead}
	<script type="text/javascript" src="{!$baseUri}/ckeditor/ckeditor.js"></script>
{/block}
