
{var $options => 1}
@{block #options}
<li><a href="{link create, $groupId}">Nová aktualita</a></li>
{/block}

{block content}
{snippet newsreelList}
{control confirmForm}
{control newsreelList}
{/snippet}