
{var $continue => false}
{var $depth => 1}
{var $iconfolder = $baseUri.'/images/common/cmsicons/' }

{define newsLink}
	<a href="{plink :Front:News:show, $entity->getParam()}" target="_blank">
		<img src="{$iconfolder}zoom.png" class="hastip showpage" title="Otevřít článek v novém listě" alt="Otevřít článek v novém listě" />
	</a>
	<a href="{plink edit, $child->id_menu, $section}">
		<img src="{$iconfolder}edit.gif" class="hastip" title="Uprav článek" alt="Uprav článek" />
	</a>
	<a href="{plink confirmForm:confirmDelete! id => $child->id_menu}" class="ajax">
		<img src="{$iconfolder}delete.gif" class="hastip" title="Vymazat článek" alt="Vymazat článek" />
	</a>
{/}
{define siteLink}
	<a href="{plink :Front:Site:default, $entity->getParam()}" target="_blank">
		<img src="{$iconfolder}zoom.png" class="hastip showpage" title="Otevřít článek v novém listě" alt="Otevřít článek v novém listě"  />
	</a>
	<a href="{plink :Admin:Cms:Site:detail, $child->param}">
		<img src="{$iconfolder}edit.gif" class="hastip" title="Uprav článek" alt="Uprav článek" />
	</a>
	<a href="{plink confirmForm:confirmDelete! id => $child->id_menu}" class="ajax">
		<img src="{$iconfolder}delete.gif" class="hastip" title="Vymazat článek" alt="Vymazat článek" />
	</a>
{/}

{block #treeView}
<ol class="{if $continue}border_parent {/if}{if $depth==1}cms-sortable{/if}">
    {foreach $parents as $idMenu}
	{var $child => (object)$menuitem[$idMenu]}
	{var $entity => $items[$idMenu]}
	{if in_array($child->id_menu, $mainSection)}{var $except=""}{else}{var $except="moveable"}{/if}
    <li id="list_{$child->id_menu}" class="depth_{$depth} {$except}">

		<div class="item">
			<input class="page-operation" type="checkbox" name="checkbox_{$child->id_menu}" data-id="{$child->id_menu}" />
			{if !in_array($child->id_menu, $mainSection)}
			<span class="menu_icon">
				{!$child|CmsIcon,$entity, $iconfolder}
			</span>
			{/if}
			<a class="menu-{$child->id_menu}" name="menu-{$child->id_menu}">
				{$child->menu}
			</a>
			<div class="actions">
				{!$child|CmsActions,$iconfolder,$entity, $section}
			
			</div>
		</div>
    {if $nodes->hasChildNodes($child->id_menu)}
        {if $iterator->isLast() OR $depth==1}
            {var $continue => false}
        {else}
            {var $continue => true}
        {/if}
        {include #treeView, 'parents' => $nodes->getChildNodes($child->$primary, $id_resource), 'continue' => $continue, 'depth' => $depth+1}

    {/if}
	</li>
    {/foreach}
</ol>


{/block}
vybrané: <select id="page-operation-options" name="selected">
	<option value="delete">Odstranit</option>
</select>
<input id="page-operation-handler" type="submit" name="checkboxes" value="odeslat" />

<script>

    $(document).ready(function(){

        $("#page-operation-handler").click(function(){

            var operation = $('#page-operation-options option:selected').val();

            var controlName={$controlName};

            var selected=[];
            $("input.page-operation:checked").each(function(k,i){
                selected.push( $(i).attr('data-id') );
            });


            var dataToSent = {};
            dataToSent[ 'do' ] = 'confirmForm-confirmDeleteMore';
            dataToSent[ 'confirmForm-pages' ] = selected;
            dataToSent[ 'confirmForm-operation' ] = operation;


            $.nette.ajax({
                data: dataToSent
            }).done(function() {
                AntoninRykalsky.gridrepository.afterInvalidation();
            });
        });
    });

</script>