
{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

 {var $options => 1}
 @{block #options}
 <li><a href="{link upload}">Nahrát nový</a></li>
 {/block}
 
@{block #content}
{snippet upload}
{control confirmForm}
{if !empty($files)}
<table class="datagrid">
	<thead>
		<tr class="header">
			<th><a href=""></a>Soubor</th>
			<th>Velikost</th>
			<th>Odkaz</th>
			<th></th>
		</tr>
	</thead>


	{foreach $files as $f}
	<tr>
		<td><a href="{!$baseUri}/{$f}" target="blank">{$f}</a></td>
		<td>{$f->getSize()|bytes}</td>
		<td>{!$baseUri}/{$f}</td>
		<td><a class="ajax" href="{link confirmForm:confirmDelete!, file => $f->getPath().'/'.$f->getFilename()}"><img src="{!$baseUri}/images/cmsicons/delete.gif"
							height="19" width="19" title="Vymazat soubor" alt="Delete icon"/></a></td>
	</tr>
	{/foreach}

</table>
{else}Nejsou nahrány žádné soubory{/if}
{/snippet}
{/block}

{block #htmlhead}

{/block}
