
{block htmlhead}
<script type="text/javascript" src="{!$baseUri}/ckfinder/ckfinder.js"></script>
{/block}

{block content}
<script type="text/javascript">
var finder = new CKFinder();
finder.basePath = '/uploads/';
finder.resourceType = 'Files';
finder.create();
</script>
