{default $pageId => 0}
{default $pageStyle = 0}
{default $pageIdText => ''}
{default $title => ''}
{default $version=''}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cz" lang="cz" dir="ltr">
<head>
	<title>{$title} {$eshop->eshop_suffix}</title>
	<!-- Contents -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="description" content="{$title}" />
	<meta name="keywords" content="{$title}" />
	<!-- Others -->
	<link rel="shortcut icon" href="{$baseUri}/images/favicon.png?1" />
	{control jsAdmin}
	{control cssAdmin}
	{if $pageStyle}<link rel="stylesheet" type="text/css" href="{$baseUri}/styles/{$pageStyle}" media="screen" />{/if}
	{block #htmlhead}{/block}
</head>

<body{if $pageId} id="{$pageId}"{/if}>
<div id="imBody">
	<div id="imHeader">
		<p style="">
			<a href="{link :Admin:Default:default}">{$eshop->eshop_title}</a>

			{*
			<div style="display:none" id="mycontainer">
			<button type="button" class="button-default show-notifications js-show-notifications">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="32" viewBox="0 0 30 32">
				<defs>
					<g id="icon-bell">
						<path class="path1" d="M15.143 30.286q0-0.286-0.286-0.286-1.054 0-1.813-0.759t-0.759-1.813q0-0.286-0.286-0.286t-0.286 0.286q0 1.304 0.92 2.223t2.223 0.92q0.286 0 0.286-0.286zM3.268 25.143h23.179q-2.929-3.232-4.402-7.348t-1.473-8.652q0-4.571-5.714-4.571t-5.714 4.571q0 4.536-1.473 8.652t-4.402 7.348zM29.714 25.143q0 0.929-0.679 1.607t-1.607 0.679h-8q0 1.893-1.339 3.232t-3.232 1.339-3.232-1.339-1.339-3.232h-8q-0.929 0-1.607-0.679t-0.679-1.607q3.393-2.875 5.125-7.098t1.732-8.902q0-2.946 1.714-4.679t4.714-2.089q-0.143-0.321-0.143-0.661 0-0.714 0.5-1.214t1.214-0.5 1.214 0.5 0.5 1.214q0 0.339-0.143 0.661 3 0.357 4.714 2.089t1.714 4.679q0 4.679 1.732 8.902t5.125 7.098z" />
					</g>
				</defs>
				<g fill="#000000">
					<use xlink:href="#icon-bell" transform="translate(0 0)"></use>
				</g>
			</svg>
			<div class="notifications-count js-count"></div>
			</button>

				</div>
*}


	<img n:if="$lastronaCss" src="{$baseUri}/images/lastrona/path3038-2.png" id="lastrona-decoration-2"/>
	<div id="imHeader" {if 1}class="lastrona-bg"{/if}>
		<div style="" class="logo">
			<a href="{link :Admin:Default:default}">
				{if !$lastronaCss}{$eshop->eshop_title}{/if}
				<img n:if="$lastronaCss" src="{$baseUri}/images/lastrona/g493a7.png" />
			</a>
		</div>

		<div id="newUserPanel">
			<div class="panel" ></div>

			<div class="profile-icon">
				<a href="{link $templateSpecifics->getProfileLink()}" onmousemove="showTooltip(anchorTooltips.tooltip, this, 'Nastavení konta', 0, 300, 85)" onmouseout="hideTooltip()">
					{if $userPanel instanceof \SoftwareStudio\Entity\ISuperAdminUser}
					<span style="padding: 0 7px;">
						<img src="{$baseUri}/images/common/css-admin/iddqd.png" alt="avatar" height="40" />
					</span>
					{else}
					<span style="padding: 2px 7px;">
						<img src="{$baseUri}/images/common/css-admin/boss_48.png" alt="avatar" height="35" />
					</span>
					{/if}
				</a>
			</div>

			<div class="text" n:if="!empty($userPanel)">
				<a href="{link :Admin:Profile:}">
				{$userPanel->getName()} {$userPanel->getSurname()}
				</a>
				<div class="clear-left"></div>
				<a href="{link $templateSpecifics->getLogoutLink()}" class="logout">(logout)</a>
			</div>
		</div>
		<div class="season-panel" n:if="!empty($allowSeasonPanel)&&$allowSeasonPanel">
			<div class="panel"></div>
			<div class="form">
				{control activeSeason begin}
				{control activeSeason errors}
				{$activeSeason['active_season']->getControl()}
				<span>
				{$activeSeason['save']->getControl()}
				</span>
				{control activeSeason end}
			</div>
		</div>
	</div><!-- imHeader -->



	<div id="imMenuMain">
		<div id="imMnMn">
			{control mlmadminMenuControl}
		</div>
	</div>

	<div id="imContent">

		<!-- Page START -->
		<div id="imPanel">

			{if isset($options) && $options}
			<div id="optionsPanel">
				<span class="header">
					<span class="header_img">Možnosti</span>
				</span>
					<div class="pagemenu">
					<ul>
					{block #options}{/block}
					</ul>
					</div>
				<br />
			</div>
			{/if}
			{block #otherOptions}{control submenu}{/block}
			{snippet cmsRepositorySnippet}
			{block #otherOptions2}{/block}
			{/snippet}



			{if !empty($showCategoryControl)&&$showCategoryControl}
			{control categoryControl}
			<div id="optionsPanel">
				<span class="header">
					<span class="header_img">Objednávka</span>
				</span>
					<div class="pagemenu">
					<ul>
						{if !empty($client->idu)}
						<li><a href="{link Eshop:basket}">Nákupní košík</a></li>
						{/if}
						<li><a href="{link Orders:create}">Vybrat uživatele</a></li>

					</ul>
					</div>
				<br />
			</div>
			{/if}


		</div><!-- imPanel -->

		<div id="imPage">
			<div class="header"><h1>{$title}</h1></div>
			<div class="navigation">{control navigation:breadcrumbs}</div>

			{snippet flashList}
			{if isset($flashes)}
			<a name="cms-flashes">
				{foreach $flashes as $flash}
				{if $flash->type == 'INFO' ||
				$flash->type == 'ERROR' ||
				$flash->type == 'SUCCESS' ||
				$flash->type == 'WARNING' }
				<div class="flash_{$flash->type}">{$flash->message}</div>{/if}{/foreach}
			</a>
			{/if}
			{/snippet}

			{include #content}



			<!-- -->
			{*
			<script type="text/javascript" src="{$baseUri}/javascript/common/mustache.js"></script>
			<script type="text/javascript" src="{$baseUri}/javascript/common/notification/nofification.js"></script>
			<link rel="stylesheet" type="text/css" href="{$baseUri}/javascript/common/notification/notification.css" media="screen" />
			<link rel="stylesheet" type="text/css" href="{$baseUri}/javascript/common/notification/overide.css" media="screen" />
			*}
			<!-- -->




		</div><!-- imPage -->



		<div style="clear: both;"></div>
	</div><!-- imContent -->
</div><!-- imBody -->

	<div id="imFooterCenter">

	<div id="imFooter">

		<div class="links">
			<a href="{$baseUri}">frontend</a>
			<div class="revision">{$version}</div>
		</div>
		<div class="creator">
			Created by <a href="http://www.softwarestudio.cz">
			<img class="ss-logo" src="/images/common/cms/softwarestudio.png" />
			<style type="text/css">
			.ss-logo { height: 30px; position: relative; top: 10px; margin: 0 6px }
			</style>
			</a> © 2010-{?echo date('Y', strtotime('now') )}
		</div>
	</div><!-- imFooter -->
	</div>
	{block #footer}{/block}


</body>
</html>
