
{block #content}

{form holderForm}
	{input name}

	<table style='width:370px;'>
	<tr>
		<td style='width:160px;'>
			<b>Group 1:</b><br/>
			{input lstBox1}

		</td>
		<td style='width:50px;text-align:center;vertical-align:top;'>
			<br />
			<br />
			<br />
			<input type='button' id='btnRight' value ='  >  '/>
			<br />
			<br/><input type='button' id='btnLeft' value ='  <  '/>
		</td>
		<td style='width:160px;'>
			<b>Group 2: </b><br/>
			{input lstBox2}
		</td>
	</tr>
	</table>
	{input save}
{/form}

<script>
$(document).ready(function() {
	
	
	
	var selectedOptsIds = [];
	if( $('#frm-holderForm-items').val() !== "" )
	{
		selectedOptsIds = $('#frm-holderForm-items').val().split(',');
	}
	
    $('#btnRight').click(function(e) {
        var selectedOpts = $('#frm-holderForm-lstBox1 option:selected');

		selectedOpts.each( function(){
			selectedOptsIds.push( $(this).attr("value") );
		});
		
        if (selectedOpts.length == 0) {
            alert("Vyberte poloĹľky pro pĹ™esunutĂ­");
            e.preventDefault();
        }
		
		console.log( selectedOptsIds );
		
		
        $('#frm-holderForm-items').val( selectedOptsIds );
		
        $('#frm-holderForm-lstBox2').append($(selectedOpts).clone());

		
		
        $(selectedOpts).remove();
        e.preventDefault();
    });

    $('#btnLeft').click(function(e) {
        var selectedOpts = $('#frm-holderForm-lstBox2 option:selected');
		
		selectedOpts.each( function(){
			removeItem = $(this).attr("value");
			selectedOptsIds = jQuery.grep(selectedOptsIds, function(value) {
				return value != removeItem;
			});
		});
		
		console.log( selectedOptsIds );
		$('#frm-holderForm-items').val( selectedOptsIds );
		
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }

        $('#frm-holderForm-lstBox1').append($(selectedOpts).clone());
        $(selectedOpts).remove();
        e.preventDefault();
    });
});
</script>

<style>
	#frm-holderForm-lstBox1, #frm-holderForm-lstBox2 {
		width: 300px;
		height: 400px;
	}
</style>