<iframe id="video" height="200" src="//www.youtube.com/embed/{!$youtubeKey}" width="560"></iframe>
<script type="text/javascript">
	$(document).ready(function(){
		$('#video').attr('width', '100%' );
		var v = $('#video').width();
		$('#video').attr('height', v/1.77 );
	})
</script>