{default $title => ''}
{default $htmltitle => $title}
{default $htmldesctiption => $title}
{default $htmlkeywords => $title}
{default $htmlrobots => 'index,follow'}


<title>{$htmltitle} {$suffix}</title>
<meta charset="utf-8">
<meta name="description" content="{$htmldesctiption}" />
<meta name="keywords" content="{$htmlkeywords}" />
<meta name="robots" content="{$htmlrobots}" />
<meta name="Author" content="Ing. Antonín Rykalský | www.mlm-soft.cz | antonin.rykalsky(at)gmail.com" />
