
{block #htmlhead}
  {control js 'resources/js/jquery.nested/jquery.ui.nestedSortable.js' }
<script>
	$(document).ready(function(){
		
		$('ol.cms-sortable').nestedSortable({
			disableNesting: 'no-nest',
			forcePlaceholderSize: true,
			handle: 'div',
			helper:	'clone',
			maxLevels: 4,
			opacity: .6,
			placeholder: 'cms-placeholder',
			items: "li.moveable",
			revert: 250,
			tabSize: 25,
			tolerance: 'pointer',
			toleranceElement: '> div',
			stop: function(event, ui) {
				serialized = $('ol.cms-sortable').nestedSortable('toArray', { startDepthCount: 0});
				$.nette.ajax({
					type: "POST",
					data: { 'do':'menuorder', 'data':serialized }}
				).done(function( data  ){
					if(typeof(data.snippets) !=='undefined') {
						CmsList.register();
						window.scrollTo(0,0);
					}
				});
			}
		});
	});

</script>
{/block}


{block #content}
{snippet gallerySnippet}
	<h2>Jméno skupiny</h2>
	{form nameForm}
	
	{input name}{input save}
{/form}
<br />
<br />

<h2>Fotogalerie ve skupině</h2>
{form holderForm}
	<table id="group-form">
		<tr>
			<td>
				{label name /}<br />
				{input name}
			</td>
			<td>
				{label url /}<br />
				{input url}
			</td>
			<td>
				{label image /}<br />
				{input image}
			</td>
			<td><br />{input save}</td>
		</tr>
			
	</table>
{/form}
	
<style>
	#group-form input[type=text] { width: 250px;}
	.cms-sortable .actions { margin-top: 6px; }
	.cms-sortable .item a>img { float: left; }
	.cms-sortable .item a>.url { float: left; margin: 6px 0 0 6px; }
	.cms-sortable .actions { float: right; }
</style>

{control treeControl}
{/snippet}

