{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}


{block #htmlhead}
{default $isAdmin = 0}
{if $isAdmin}
<script type="text/javascript" src="{!$baseUri}/ckeditor/ckeditor.js"></script>
{/if}
{/block}
 
{block #content}
{control siteControl}
{default $isAdmin = 0}
	
{if $isAdmin}

	{* admin panel *}
	<!-- http://stackoverflow.com/questions/18585159/how-to-convert-password-into-md5-in-jquery -->
	<script type="text/javascript" src="{!$baseUri}/javascript/common/jquery.md5/jquery.md5.js"></script>
	<div id="cms-control-bar" class="smart-form">
		<div class='wrapper'>


			<div n:if="false" class="left"><!--temporalily turn off cause it is not important -->
				<a data-toggle="modal" href="#myModal" class="btn"><i class="fa fa-circle-arrow-up fa-lg"></i> seo</a>
			</div>

			<div class="left ckeditor-toggle">
				<div id="ckeditor-checkbox" class="btn btn-success">editační mód</div>
				<a href="{link :Admin:Cms:Site:detail, $siteUrl}" target="_blank" class="btn">administrace</a>
			</div>

			<div class="right ck-save-changes-button">

				<span class='changed isNotChanged' data-changed='0'>nezměněno</span>
				<div class="saveArticleBtn btn btn-success">Uložit</div>

				<div id="cms-look-for-grid" class="btn">najdi editovatelné</div>
			</div>
			

		</div>
	</div>

	<div class="right smart-form" id="cms-bar-hider" style="top:{$cmsIconPositionT};right:{$cmsIconPositionR};">
		<img src="/images/favicon.png" />
	</div>

{*
<link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-production.css">
<script src="{$baseUri}/js/bootstrap/bootstrap.min.js"></script>
*}

<script src="{$baseUri}/resources/js/cms/AntoninRykalsky.cms.EditationService.js"></script>
<script src="{$baseUri}/resources/js/cms/AntoninRykalsky.cms.inlineedit.js"></script>
<script src="{$baseUri}/resources/js/cms/AntoninRykalsky.cms.draggingSwitch.js"></script>
<script src="{$baseUri}/resources/js/cms/AntoninRykalsky.cms.ckSettings.js"></script>

<script>
	$(function() {

		AntoninRykalsky.cms.draggingSwitch.register( {!$cmsBarVisible} );
		AntoninRykalsky.cms.inlineEdit.registerSwitch();
	});
	AntoninRykalsky.cms.ckSettings.setCkEditor();

	$("#cms-look-for-grid").hover(function(){
		$('.ckeditable-hover').animate({
			backgroundColor: "green",
		}, 500 );
		$('.ckeditable-hover').animate({
			backgroundColor: "transparent",
		}, 500 );
	});


	
	// Extend jQuery.fn with our new method
	jQuery.extend( jQuery.fn, {
		// Name of our method & one argument (the parent selector)
		within: function( pSelector ) {
			// Returns a subset of items using jQuery.filter
			return this.filter(function(){
				// Return truthy/falsey based on presence in parent
				return $(this).closest( pSelector ).length;
			});
		}
	});

	/*========================================================
                    editor switching
	=========================================================*/
	var itemNo=1;
	var editors=[];



	/*========================================================*/

	var stuff=[];


	$('.closeArticleBtn').click(function() {
		window.onbeforeunload = $(window).data('beforeunload');
		window.close();
	});


	
	
</script>







<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title">
					Nastavení stránky
				</h4>
			</div>
			<div class="modal-body no-padding">
				{control siteEditControl}
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{/if}