{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

 {var $title => 'Profil administrátora'}
 {default $lastronaCss => 0}
@{block #content}
	<ul>
		<li><a href="{link passChange}"><div>Změna hesla</div></a></li>

		<li n:if="!$lastronaCss"><a href="{link profileEdit}"><div>Editace profilu</div></a></li>
		<li n:if="$lastronaCss"><a href="{link :Admin:NurseProfile:edit}"><div>Editace profilu</div></a></li>
	</ul>
