{var $options = 1}
{block #options}
<li><a href="{link :Admin:Cms:Site:create}">nový článek</a></li>
<li class="fake"><span class="header"><span class="header_img">Sekce:</span></span></li>
<li n:foreach="$mainSection as $ms"><a href="#menu-{$ms}">{$menuitem[$ms]->menu}</a></li>
{/block}

{block #htmlhead}
  {control jsAdmin 'resources/js/jquery.nested/jquery.ui.nestedSortable.js' }
{/block}


{block #content}

	{snippet cms-main-list}
	{control confirmForm}
	{control treeControl}
	{/}


<script>
	// potahovani
	$(document).ready(function(){
		CmsList.register();
		CmsList.highlightAnchor();
	});

	CmsList = {
		register: function(){
			$('ol.cms-sortable').nestedSortable({
				disableNesting: 'no-nest',
				forcePlaceholderSize: true,
				handle: 'div',
				helper:	'clone',
				maxLevels: {$maxLevels},
				opacity: .6,
				placeholder: 'cms-placeholder',
				items: "li.moveable",
				revert: 250,
				tabSize: 25,
				tolerance: 'pointer',
				toleranceElement: '> div',
				stop: function(event, ui) {
					serialized = $('ol.cms-sortable').nestedSortable('toArray', { startDepthCount: 0});
					$.nette.ajax({
						type: "POST",
						url: '?do=menuorder',
						data: { 'data':serialized }}
					).done(function( data  ){
						if(typeof(data.snippets) !=='undefined') {
							CmsList.register();
							window.scrollTo(0,0);
						}
					});
				}
			});
		},

		highlightAnchor: function()
		{
			// zvyrazneni kotvy
			ajax = window.location.hash;
			if( ajax == ajax.match(/#(menu-\d+)/) )
			{
				var act = $("a."+a[1]+"").closest('li');
				// console.log( act );
				act.css('font-weight', '700');
				act.css('background', '#aaa');
			}
		}
	};

	var stickyPanelOptions = {
		topPadding: 20,
		savePanelSpace: true
	};
	$("#imPanel").stickyPanel(stickyPanelOptions);

</script>
