
{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

{var $options = 1}
@{block #options}
<li><a href="{link :Admin:Cms:Pages:list}">Hierarchie menu</a></li>
<!--<li><a href="{link default}">seznam stránek]</a></li>-->
<li n:if="!empty($id_menu)" ><a href="{link :Admin:Gallery:list, $id_menu}">spravuj fotogalerii</a></li>
{/block}

{block otherOptions2}{snippet cmsRepositorySnippet}{control cmsRepo}{/snippet}{/block}

{block #content}
	<h2>Struktura stránky</h2>
	<img class="position-ruler" src="{!$baseUri}/images/common/cms/ruler.png" />
	{snippet contentBlock}
		{control cmsGrids}
	{/snippet}
	{*<button class="add-wrapper">add wrapper</button>*}
	<img class="add-content" src="{!$baseUri}/images/common/cms/add.png" />
