{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

 {* slouzi pro vypis clanku *}

{var $continue => false}
{var $depth => 1}
{var $iconfolder = $baseUri.'/images/cmsicons/' }

{block #treeView}
<ul{if $continue} class="border_parent"{/if}>
    {foreach $parents2 as $child}
    <li{if $iterator->isLast()} class="last"{/if}>
		<span class="menu_icon">
			{!$child|CmsIcon,$iconfolder}
		</span>

		<u>{$child->nadpis}</u>

		<a href="{link :Front:News:showme, $child->path}" target="blank"><img src="{$iconfolder}zoom.png" title="Otevřít článek v novém listě" alt="Edit icon" /></a>
		<a href="{link edit, 'id_clanek' => $child->id_clanek}"><img src="{$iconfolder}edit.gif" height="19" width="19" title="Uprav článek" alt="Edit icon" /></a>
		<a href="{link confirmForm:confirmDeletePage! id_clanek => $child->id_clanek}"><img src="{$iconfolder}delete.gif" height="19" width="19" title="Vymazat článek" alt="Edit icon" /></a>

    {if $nodes->hasChildNodes($child->id_menu)}
        {if $iterator->isLast() OR $depth==1}
            {var $continue => false}
        {else}
            {var $continue => true}
        {/if}
        {include #treeView, 'parents' => $nodes->getChildNodes($child->$primary, $id_resource), 'continue' => $continue, 'depth' => $depth+1}
    {/if}
    {/foreach}
</ul>
{/block}
