
{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

{var $options = 1}
@{block #options}
<li><a href="{link list}">zpět [Seznam článků]</a></li>
<li><a n:if="!empty($id_menu)" href="{link :Admin:Gallery:list, $id_menu}">spravuj fotogalerii</a></li>
{/block}

@{block #content}
<div id="tabs">
    <ul>
		<li><a href="#tabs-1">Obecné</a></li>
		<li><a href="#tabs-2">Článek</a></li>
		<li><a href="#tabs-3">SEO</a></li>
	</ul>

{control newsForm begin}
{control newsForm errors}



	<div id="tabs-1">

	<table class="">
		<tr>
				<th>{$form['nadpis']->label}:</th>
				<td>{$form['nadpis']->control}<br />
		</tr>
		<tr>
				<th>{$form['menunadpis']->label}:</th>
				<td>{$form['menunadpis']->control}<br />
				<p class="comment">^ zadejte odlišný v případě, že chcete<br /> nazvat odkaz článek v menu jinak</p>
		</tr>
		<tr>
				<th>{$form['show_to']->label}:</th>
				<td>{$form['show_to']->control}<br />
				<p class="comment">^ vyberte komu se má článek zobrazovat</p>
		</tr>
		<tr>
				<th>{$form['homepage']->label}:</th>
				<td>{$form['homepage']->control}<br />
				<p class="comment">^ zatrhněte pokud má článek sloužit jako domovská stránka</p>
		</tr>
		{if !empty($form['parent_id'])}
		<tr>
				<th>{$form['parent_id']->label}</th>
				<td>{$form['parent_id']->control}<br />
				<p class="comment">^ zařazení článků v hierarchii webu</p>
		</tr>
		{/if}
		<tr>
				<th>{$form['menu_order']->label}:</th>
				<td>{$form['menu_order']->control}<br />
				<p class="comment">^ menší váha je zobrazena nahoře; vkládejte hodnoty 1-99999</p>
		</tr>
	</table>

	</div>

	<div id="tabs-2">
	{$form['clanek']->control}
	<br />
	</div>

	<div id="tabs-3">
		<table class="">
		<tr>
			<td>
			<p class="comment">Doporučuje se, aby obsah obou tagů byl pro každou stránku originální.</p>
			</td>
		</tr>
		<tr>
				<th>{$form['keywords']->label}:</th>
				<td>{$form['keywords']->control}<br />
				<p class="comment">^ Klíčová slova bez mezer oddělená čárkou<br />
				^ Doporučená délka je do 800 znaků.
				</p>
		</tr>
		<tr>
				<th>{$form['description']->label}:</th>
				<td>{$form['description']->control}<br />
				<p class="comment">^ Popisek stránky psaný ve větách.<br />
					^ Doporučená délka je do 250 znaků<br />
					^ Slovo, které je uvedeno v keywords se musí kdekoliv na stránce (v textu) vyskytovat.</p>
		</tr>
		<tr>
				<th>{$form['title']->label}:</th>
				<td>{$form['title']->control}<br />
				<p class="comment">^ Popisek stránky psaný ve větách.<br />
					^ Doporučená délka je do 250 znaků<br />
					^ Slovo, které je uvedeno v keywords se musí kdekoliv na stránce (v textu) vyskytovat.</p>
		</tr>
		<tr>
				<th>{$form['robots']->label}:</th>
				<td>{$form['robots']->control}<br />
					^ Doporučená délka je do 250 znaků<br />
					^ Slovo, které je uvedeno v keywords se musí kdekoliv na stránce (v textu) vyskytovat.</p></td>
		</tr>
		<tr>
				<th>{$form['dontrenderh1']->label}:</th>
				<td>{$form['dontrenderh1']->control}<br />
					^ V případě zatržení se nebude generovat H1 z nadpisu a předpokládá se, že je vložena do článku</p></td>
		</tr>

	</table>
	</div>

		<div id="commonContent">
		{$form['save']->control}<br />
	</div>






</div>

{control newsForm end}
{include _ckeditor.latte}

{/block}

{block #htmlhead}
<script type="text/javascript" src="{!$baseUri}/ckeditor/ckeditor.js"></script>
<script>
	$(function() {
		var tabs = $( "#tabs" ).tabs({
			ajaxOptions: {

				error: function( xhr, status, index, anchor ) {
					$( anchor.hash ).html(
						"Couldn't load this tab. We'll try to fix this as soon as possible. " +
						"If this wouldn't be a demo." );
				},
				data: {},
				success: function(data, textStatus) {
				},
			}
		});
		tabs.tabs('select', 0);

	});
	$('#commonContent').hide().appendTo($('.tabContent'));
</script>

<script type="text/javascript" src="{!$baseUri}js/jquery/jquery.ui.datepicker-cs.js"></script>
<script type="text/javascript">
	$(function() {
		$("#frmnewsForm-datum").datepicker();
		$("#frmnewsForm-datum").datepicker.regional['cs'];
	});
	$('#frmnewsForm-nadpis').change(function() {
		var value = $('#frmnewsForm-nadpis').val();
		if( $('#frmnewsForm-menunadpis').val() == '' )
			$('#frmnewsForm-menunadpis').val(value);
		if( $('#frmnewsForm-description').val() == '' )
			$('#frmnewsForm-description').val(value);
		if( $('#frmnewsForm-keywords').val() == '' )
			$('#frmnewsForm-keywords').val(value);

	});
</script>
<style type="text/css">
	.ui-tabs .ui-tabs-panel {
		padding: 0;
	}

	#tabs {
		font-family: "arial", sans-serif;
		font-size: 10pt;
	}
</style>
{/block}
