
{var $widthcount = 0}
{foreach $wrappers as $wrap}
<div class="wrapper {if !$iterator->last}indent-bottom7-1{/if}">

	{if !empty( $grids[$wrap->id_wrapper])}
	{foreach $grids[$wrap->id_wrapper] as $k => $grid}
		{include #gridblock, 'grid' => $grid, 'level' => 1, 'parentWidth'=>12 }
	{/foreach}
	{/if}
</div>
{/foreach}



{define gridblock}
	{var $subgrids = $grid->getSubgrids()}
	{*if !in_array( $grid->getType(), array(1, 2) )}{var $notMargin = 'alpha omega'}{/if*}
	{var $notMargin = ''}

	{if $level>1 }
		{? $notMargin .= 'alpha omega'}
	{/if}

	
	{*style="border:1px solid #fff"*}
	<div  data-id="{$grid->getId()}" data-width="{$grid->getWidth()}" data-grid-editable="{$grid->isEditable()}" class="grid_{$grid->getWidth()} {$notMargin}">
		{if count( $subgrids )}
			<div class="wrapper ">
			{var $orderSubgrid = 0}
			{foreach $subgrids as $subgrid}
				{? $orderSubgrid++ }
				{include #gridblock, 'grid' => $subgrid, 'level' => $level+1, 'order' => $orderSubgrid, 'parentWidth'=>$grid->getWidth() }
			{/foreach}
			</div>
		{else}
			{*$grid->getWidth()}/{$parentWidth*}
			{var $toFullWidth = $parentWidth - $grid->getWidth()}
			{if !empty( $wrap->id_wrapper )}
				{!$grids[$wrap->id_wrapper][$k]->render()}
			{else}
				{!$grid->render()}
			{/}
		{/if}
	</div>
{/define}
