{default $captcha => 0}
{default $showCaptcha => 0}
{default $pageStyle => 0}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cz" lang="cz" dir="ltr">
<head>
	<title>{$title} {$eshop->eshop_suffix}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Content-Language" content="cz" />
	<meta name="description" content="Administrace | MLM-soft.cz" />
	<meta name="keywords" content="Administrace | MLM-soft.cz" />
	<link rel="stylesheet" type="text/css" href="{$baseUri}/styles/common/flashmessages.css" media="screen" />
  <link href='http://fonts.googleapis.com/css?family=Emblema+One' rel='stylesheet' type='text/css'>
	  <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{$baseUri}/styles/common/admin-login-default.css" media="screen" />
	{block #htmlhead}{/block}
</head>
{if $pageId}<body id="{$pageId} loginpage">{else}<body>{/if}

{control login begin}


<div class="errors">
	<div class="clear">
	</div>


	{if isset($flashes)}
		{foreach $flashes as $flash}
		{if $flash->type == 'INFO' ||
		$flash->type == 'ERROR' ||
		$flash->type == 'SUCCESS' ||
		$flash->type == 'WARNING' }
		<div class="flash_{$flash->type}">{$flash->message}</div>{/if}{/foreach}
	{/if}
	{control login errors}
</div>



<div id="mainform">

	<div class="form">
		<div n:if="!$showCaptcha" id="withoutCaptchaSpacer"></div>
    <h1>{$admintitle}</h1>
		<table>
			<tr>
				<td>{$form['name']->label}:</td>
				<td>{$form['name']->control}</td>
			</tr>
			<tr>
				<td>{$form['password']->label}:</td>
				<td>{$form['password']->control}</td>
			</tr>
		</table>
		<div  n:if="$showCaptcha" id="captcha_auth"><p>Opište kód z obrázku:</p>
    {!$captha}</div>
    <div class="login-button">
		{$form['signon']->control}
    </div>

	</div>

</div>
<p class="frontend_link"><a href="{$baseUri}"><img src="{$baseUri}/images/common/css-admin/arrow_link.png" /> frontend</a></p>

	{control login end}

  <style n:if="$showCaptcha">
  #mainform {
    height: 401px;
  }
  #mainform table {
  margin-top: 0px;
  }
  </style>
<!--<script>
function recolor() {
	$('input[type=submit]').css('border-width', '1px');
	$('input[type=submit]').css('border-color', '#fff');
	$('input[type=submit]').css('border-style', 'solid');
}
function recolor2() {
	$('input[type=submit]').css('border-width', '2px');
	$('input[type=submit]').css('border-color', '#fff');
	$('input[type=submit]').css('border-style', 'solid');
}

$('td input').hover( recolor(), recolor2() );

</script>-->

</body>
</html>
