{block #content}

<div>
	<div data-siteid="{$siteId}" class="wrapper-block grid-sortable">

		{if !empty( $grids )}
		{foreach $grids as $grid}
		<div data-id="{$grid->getId()}" data-width="{$grid->getWidth()}" data-type="{$grid->getType()}" data-typeid="{$grid->getTypeId()}" class="grid-block">
			<div class="inner">
				<div class="control remove-wrapper"></div>
				<div class="settings-control settings-wrapper"></div>
				<div class="grid-content">
					{!$grid|gridOption:$_presenter}
					<br />
					<img src="{!$baseUri}/images/common/cms/{$grid|icon}" class="grid-icon" />
				</div>
			</div>
		</div>
		{/foreach}
		{/if}
	</div>
</div>

<style type="text/css">
	.add-content-panel-base { display: none }
</style>

<div class="add-content-panel-base">
	<div class="close"></div>

	<a title="{$s->getName()}" n:foreach="(array)$stuff as $s" class="cms-grid-icon add-stuff" data-do="{$s->getName()}" href="#">
		<img src="{!$baseUri}/images/common/cms/{$s->getImg()}" />
	</a>

	{*
	<a title="{$s->name}" n:foreach="(array)$stuff as $s" class="cms-grid-icon add-stuff" data-do="{$s->name}" href="#">
		<img src="{!$baseUri}/images/common/cms/{$s->img}" />
	</a>
	*}
</div>




<script>
	AntoninRykalsky.CmsGridOption.setJsonLink("{? echo $_control->presenter->link(':Admin:Cms:Site:json');}");
	AntoninRykalsky.gridder.setMaxGrid( {$maxGridSize} );
	AntoninRykalsky.gridder.setComponentName( {$componentName} );
</script>


		<style type="text/css">
			.grid-icon {
				margin-left: 30px;
				margin-top: 11px;
				width: 80px;
				height: 80px;
			}
		.mydrop { width: 192px; height: 300px; border: 1px dashed #ccc;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			border-radius: 10px;
			background-image: url('/images/common/cms/repository.png');
			background-repeat: no-repeat;
			background-position: 50% 50%;
		}
		.mydrop.mydrop-active { border: 1px dashed #000; }
		.mydrop.mydrop-hover { border: 1px solid #000; }
		.mydrop .stored-grid,
		.grid-sortable,
		#snippet--contentBlock
		{
			-webkit-user-select: none;  /* Chrome all / Safari all */
			-moz-user-select: none;     /* Firefox all */
			-ms-user-select: none;      /* IE 10+ */
			user-select: none;
			-o-user-select: none;
			}
		.grid-sortable.mydrop-active {  }
		.grid-sortable.mydrop-hover { border: 1px solid #000; }
	</style>

	<style type="text/css">
		.add-content-panel {
			width: 600px;
			height: 400px;
			background-color: #0b93d5;
			z-index: 100;
		}
		.add-content {
			width: 60px;
			margin: 10px;
		}

		.add-content-panel .close {
			background: url( '{!$baseUri}/images/common/cms/close.png');
			width: 15px;
			height: 15px;
			position: absolute;
			right:0px;
		}
		.cms-grid-icon {
			display: block;
			height: 80px;
			width: 80px;
			float: left;
			margin-left: 17px;
			margin-top: 16px;
		}



	</style>

	<style type="text/css">



		.site-header, .site-category { float: left }
		.site-category:after { clear:  left }
	</style>

<style type="text/css">


	.wrapper-block {
		width: 920px;
		/*height: 150px;*/
		/*border: 1px solid #000;*/
		/*padding: 5px 0 0 5px;*/
		background-color: #ddd;
		min-height: 150px;
		display: inline-block;
			position: relative;
			left: 8px;
	}
	.grid-block:nth-last-child { clear: left; }
	.grid-block {
		height: 150px;
		float: left;
	}
	.grid-block .inner {
		position: relative;
		top: 5px;
		left: 5px;
		/*border: 1px solid #666;*/
		background-color: #eee;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	.delete-grid {
		background: url( '{!$baseUri}/images/common/cms/close.png');
		width: 15px;
		height: 15px;
		position: absolute;
		margin-left: 10px;
	}

	.grid-block .inner .control {
		background: url( '{!$baseUri}/images/common/cms/close.png');
		width: 15px;
		height: 15px;
		position: absolute;
		right:0px;
	}
	.grid-block .inner .settings-control {
		background: url( '{!$baseUri}/images/common/cms/config.png');
		width: 15px;
		height: 15px;
		position: absolute;
		right:20px;
	}

</style>
