{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

{var $pageClass => "reference"}

{block #content}


<div id="lb_gallery">
{if !empty( $ref )}
{foreach $ref as $r}
	<h2 n:if="count($ref)>1">{$r['name']}</h2>
	{foreach @(array)$ri[ $r['id_gallery'] ] as $i}
	<div class="item-left">
		<a href="{!$baseUri}/images/gallery/big/{!$i['image_path']}" class="colorbox" title="{$i['short_text']}">
			<img src="{!$baseUri}/images/gallery/small/{$i['image_path']}" alt="{$r['name']}">
		</a><br />
		<span>{$i['short_text']}</span>
	</div>
	{/foreach}
	<div class="clear-left"></div>
{/foreach}
{/if}<br />
</div>




<script type="text/javascript" n:syntax="off">
var title = '';
$(document).ready(function() {
	$(function() {
		$('.colorbox').colorbox({rel:'group1', title:title});
	});
});
</script>



{/block}

{block #htmlhead}
<script type="text/javascript" src="{!$baseUri}/javascript/jquery.colorbox/jquery.colorbox.js"></script>
<link rel="stylesheet" href="{!$baseUri}/styles/jquery.colorbox/colorbox.css" />
<link rel="stylesheet" href="{!$baseUri}/styles/components/galleryControl.css" />

<style type="text/css">
	.item-left span {
		padding: 0 10px;
		font-size: 12px;
	}
	.item-left {
		color: #656565;
		float: left;
		height: 229px;
		margin: 8px 16px;
		padding: 3px 0px 0px;
		position: relative;
		width: 288px;
		text-align: center;

	}
</style>
{/block}
