<script type="text/javascript">
var editor = CKEDITOR.replace( 'frmnewsForm-clanek', {
filebrowserBrowseUrl : '../../ckfinder/ckfinder.html',
filebrowserImageBrowseUrl : '../../ckfinder/ckfinder.html?Type=Images',
filebrowserFlashBrowseUrl : '../../ckfinder/ckfinder.html?Type=Flash',
filebrowserUploadUrl : '../../ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
filebrowserImageUploadUrl : '../../ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images',
filebrowserFlashUploadUrl : '../../ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Flash'
} );

CKFinder.SetupCKEditor( editor ) ;
</script>

<style type="text/css">
	#imFooter { position: relative; }
</style>
