<script src="/javascript/banskaliga/perfect-scrollbar.js" type="text/javascript"></script>
<script src="/javascript/banskaliga/scrollblock.js" type="text/javascript"></script>
<link rel="stylesheet" href="/styles/banskaliga/perfect-scrollbar.css" type="text/css" media="screen">
<link rel="stylesheet" href="/styles/banskaliga/scrollblock.css" type="text/css" media="screen">

<div class="scrollable-news-data">
{? $i = 0}
{foreach $news as $new}
    {? $i++}
    <div data-id="{$i}">
	<img src="images/newsreel/orig/{$new->getPhoto()}" alt="">
	<div class="caption-text">
	    <h3 style="font-size: 15px; width: 350px; letter-spacing: 0px;">{$new->getHeader()}</h3>
		{$new->getShortText()}
		{if !empty($new->getSiteId())}
		<a class="button" href="{$new->getSiteId()}">Více zde</a>
		{else}<br /><br />{/if}	
	</div>
    </div>
{/foreach}
    
</div>
<div class="scrollable-news box">
<div class="items ps-container ps-active-y">
    <ul>
    {? $i = 0}
    {foreach $news as $new}
	{? $i++}
	<li data-id="{$i}" {if $iterator->isFirst()}class="active"{/if}>
	    <img src="images/newsreel/small/{$new->getPhoto()}" width="60" height="60" />
		<div class="text">
			<strong>{$new->getHeader()}</strong>
		</div>
	</li>

    {/foreach}		
    </ul>
</div>
<div class="biger">								
</div>


</div>
