
{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

{var $options => 1}
 @{block #options}
 <li><a href="{plink Novinky:list}">Zpět</a></li>
 {/block}

@{block #content}


{control groupForm begin}
{control groupForm errors}


<table class="panelTable left">
	<tr>
		<td colspan="2"><h3>1) O skupině</h3></td>
	</tr>
	<tr>
			<td>{$form['menu']->label}:</td>
			<td>{$form['menu']->control}<br />
	</tr>
	<tr>
			<td>{$form['show_to']->label}:</td>
			<td>{$form['show_to']->control}<br />
			<p class="comment">^ má být skupina aktivní</p>
	</tr>
	<tr>
			<td>{$form['menu_order']->label}:</td>
			<td>{$form['menu_order']->control}<br />
	</tr>
	</table>
	<table class="panelTable">
		<tr>
			<td colspan="2"><h3>2) Optimalizace pro vyhledávače</h3></td>
		</tr>
	<tr>
			<td>{$form['html_description']->label}:</td>
			<td>{$form['html_description']->control}<br />
	</tr>
	<tr>
			<td>{$form['html_keywords']->label}:</td>
			<td>{$form['html_keywords']->control}<br />
	</tr>
	<tr>
			<td>{$form['html_title']->label}:</td>
			<td>{$form['html_title']->control}<br />
	</tr>
	</table>
	<div class="cleaner"></div>

	<h3>3) Text nahoře</h3>
	{$form['text_top']->control}<br /><br />

	<h3>4) Text dole</h3>
	{$form['text_bottom']->control}<br /><br />

	{$form['save']->control}
	{$form['id_menu']->control}



</table>

{control groupForm end}





{include _ckeditor.phtml}
{/block}

{block #htmlhead}
	<script type="text/javascript" src="{!$baseUri}ckeditor/ckeditor.js"></script>
{/block}
