
{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

{var $options = 1}
@{block #options}
<li n:if="!empty($id_menu)"><a href="{link :Admin:Cms:pages:edit, $id_menu}#ui-tabs-1">zpět [editace článků]</a></li>
{/block}


@{block #content}
  {control confirmForm}


<script>
$(document).ready(function(){
	$('.editable-desc').click(function() {
		$(this).hide();
		$(this).parent().find('.editable-input').attr('value', $(this).text() );
		$(this).parent().find('.editable-input').show();
		$(this).parent().find('.editable-buttons').show();
	})

	$('.editable-buttons img').click(function() {
		var desc = $(this).parent().parent().children('.editable-input').val();
		var id_image = $(this).parent().parent().attr('class');
		id_image = id_image.match(/id-image-(\d+)/)[1];

		$(".editable-input").hide();
		$(".editable-input").parent().find('.editable-desc').show();
		$(".editable-input").parent().find('.editable-buttons').hide();
		$.get( {link changeDesc!}, { id_image:id_image, desc:desc } );
		if( desc == '' ) desc = 'Prázdný popisek';
		$(this).parent().parent().children('.editable-desc').text( desc );

	})
});
</script>
<script>

	$(function() {



		$( "#sortable" ).sortable({
			placeholder: "ui-state-highlight"
		});
		//$( "#sortable" ).disableSelection();
		$( "#sortable" ).bind( "sortupdate", function(event, ui) {

			var order = new Array();
			$('#sortable li').each(function(index) {
				order[ index ] = $(this).attr("class");
			  });

			  $.post('sort', {'data[]': order }, function(data){
				   // do something with received data!
				});
		});
	});
	</script>
{snippet galleryList}
{if count( $images )}
<br />

<ul id="sortable">
	<li n:foreach="$images as $im" class="im_{$im['id_image']}">
		<span class="num">
			{$iterator->getCounter()}.
		</span>
		<span class="thumb">
		<img src="{!$baseUri}/images/gallery/small/{$im['image_path']}" />
		</span>
		<div class="galery-actions id-image-{$im['id_image']}">
			{$im['image_path']}
			<a href="{link confirmForm:confirmDeletePhoto! 'id_image'=>$im['id_image']}"><img src="{!$baseUri}/images/cmsicons/delete.gif" height="19" width="19" title="Vymazat článek" alt="Edit icon" /></a>
			<br />
			<div class="editable-desc">{$im['short_text']}</div>
			<textarea type="text" class="editable-input" style="display: none;"></textarea>
			<div class="editable-buttons">
				<img src="{!$baseUri}/images/cmsicons/accept.png" />
			</div>
			<br />
		</div>

		<div style="clear:left;"></div>
	</li>
</ul>
<br />
{/if}
{/snippet}

{control upload}
<style type="text/css">
		#sortable { list-style-type: none; margin: 0; padding: 0; background-color: #fff;  }
	#sortable li { margin: 0; padding: 0; font-size: 1.4em; background-color: #fff; border:0;
	width: 800px;

	}
	#sortable li span.num { float: left; }
	#sortable li .thumb {
		float: left;
		margin: 6px;
		min-width: 300px;
	}
	#sortable li .galery-actions {

								   height: 135px;
								   width: 450px;
								     overflow: hidden;
	}

	.ui-state-highlight {
		height: 30px;

		background-color: red;
		color: #363636;
	}

	#imPage { max-width: 800px;}

	.editable-desc {
		font-size: 12px;
	}
	.editable-input {
		width: 400px;
		height: 100px;
		float: left;
	}
	.editable-buttons {
		display: none;
		float: left;

	}
</style>
{/block}
