
{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

{var $options = 1}
@{block #options}
<li><a href="{link create}">Nová stránka</a></li>
{/block}

{block #content}
{snippet form}
{*control confirmForm*}
{control list}
{/snippet}
