
{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

{var $options = 1}
@{block #options}
<li><a href="{link :Admin:Cms:Pages:list}">Hierarchie menu</a></li>
<li><a href="{link clone!}">Klonovat stránku</a></li>
<li><a href="{link remove!}">Odstranit stránku</a></li>
<!--<li><a href="{link default}">seznam stránek]</a></li>-->
<li n:if="!empty($id_menu)" ><a href="{link :Admin:Gallery:list, $id_menu}">spravuj fotogalerii</a></li>
{/block}

{block otherOptions2}{snippet cmsRepositorySnippet}{control cmsRepo}{/snippet}{/block}


{block #content}

	<h2>Struktura stránky</h2>
	<img class="position-ruler" src="{!$baseUri}/images/common/cms/ruler.png" />
	{snippet contentBlock}
		{control cmsGrids}
	{/snippet}
	<img class="add-content" src="{!$baseUri}/images/common/cms/add.png" />



	<br />
	<br />
	<br />
	<br />
	<br />



<script>
	$(document).ready(function(){
		$('#checkbox-fingerboard').radiobutton({
			className: 'jquery-switch',
			checkedClass: 'jquery-switch-on',
		});
		$('#checkbox-lastRenderedAutomatically').radiobutton({
			className: 'jquery-switch',
			checkedClass: 'jquery-switch-on',
		});
		$('#checkbox-registredOnly').radiobutton({
			className: 'jquery-switch',
			checkedClass: 'jquery-switch-on',
		});
	});
</script>

	<br />

	{control siteControl}


	<style type="text/css">
		#addToMenu { margin-left: 12px; margin-bottom: 20px;}
	</style>



<script>
	/*
	DEPRECATED
    $(document).ready(function(){
	$("#cms-type-selector button").click(function(){
	    var what = $(this).attr('data-what');
	    $.nette.ajax({

			type: 'POST',
			data: { 'do':"changeType",'what':what }
		});
	});
    });
	 */
</script>





<style type="text/css">

div.checkbox {
	width: 300px;
	position: relative;
	height: 24px;
	line-height: 24px;
}

div.jquery-radiobuttons div.jquery-checkbox-wrapper {
	position: absolute;
	width: 16px;
	height: 16px;
	top: 14px;
	right: 17px;
	z-index: 50;
}

div.jquery-radiobuttons div.jquery-checkbox-wrapper a.jquery-checkbox {
	background: transparent url('{!$baseUri}/images/common/cms/switches.png') repeat scroll 0px 0px;
	display: block;
	width: 16px;
	height: 16px;
	cursor: default;
	outline: none;
}

div.jquery-radiobuttons div.jquery-checkbox-wrapper a.jquery-checkbox-on {
	background-position: 16px 0px;
}

div.jquery-radiobuttons div.jquery-switch-wrapper {
	width: 62px;
	height: 16px;
	z-index: 50;
}

div.jquery-radiobuttons div.jquery-switch-wrapper a.jquery-switch {
	background: transparent url('{!$baseUri}/images/common/cms/switches.png') repeat scroll 0px 18px;
	display: block;
	width: 62px;
	height: 18px;
	cursor: default;
	outline: none;
}

div.jquery-radiobuttons div.jquery-switch-wrapper a.jquery-switch-on {
	background-position: 0px 0px;
}

div.jquery-radiobuttons div.jquery-radiobutton-wrapper {
	position: absolute;
	width: 21px;
	height: 21px;
	top: 12px;
	right: 17px;
	z-index: 50;
}

div.jquery-radiobuttons div.jquery-radiobutton-wrapper a.jquery-radiobutton {
	background: transparent url('{!$baseUri}/images/common/cms/radiobutton.png') repeat scroll 0px 0px;
	display: block;
	width: 21px;
	height: 21px;
	cursor: default;
	outline: none;
}

div.jquery-radiobuttons div.jquery-radiobutton-wrapper a.jquery-radiobutton-on {
	background-position: 21px 0px;
}


div.jquery-radiobuttons .jquery-switch-wrapper {
	float: left;
	width: 325px !important;
}
div.jquery-radiobuttons .label {
	float: left;
	width: 325px;
	margin-top: 6px;
	font-weight: 700;
}

</style>
