
	{form siteForm}
	<div class="jquery-radiobuttons">
			<input n:name="fingerboard">
			<input n:name="lastRenderedAutomatically">
			<input n:name="registredOnly">
			
			<br />

			<span class="label">Pouze rozcestník</span>
			<span class="label">Nevykresluj podsekce v menu</span>
			<span class="label">Pouze pro registrované</span>
	</div>
	<br />
	<br />
	
	<div class="site-header">
		<h2>Hlavička stránky</h2>
		<table>
			<tr>
				<td>{label site /}</td>
				<td>
					{input site}<br />
					{var $url =  $baseUri.$_control->presenter->link(':Front:Site:default', $site->site->url)}
					url: <a target="_blank" href="{$url}">{$url}</a>
				</td>
			</tr>
			<tr>
				<td>{label title /}</td>
				<td>{input title}</td>
			</tr>
			<tr>
				<td>{label description /}</td>
				<td>{input description}</td>
			</tr>
			<tr>
				<td>{label keywords /}</td>
				<td>{input keywords}</td>
			</tr>
			<tr>
				<td></td>
				<td>{input homepage} {label homepage /}</td>
			</tr>
			<tr>
				<td></td>
				<td>{input renderh1} {label renderh1 /}</td>
			</tr>
			<tr>
				<td></td>
				<td>{input save} {label save /}</td>
			</tr>
		</table>
	</div>

	<div class="site-category">
		<h2>Zařazení stránky</h2>

		<a id="addToMenu" href="#">přidat zařazení</a><br />
		{snippet cmsParents}
		<table class="datagrid">
		{foreach $in as $inI}
			<tr>
				<td>{$inI->parent_name}</td>
				<td>
					<a target="_blank" href="{plink :Admin:cms:pages:list#menu-$inI->menu_id}"><img class="hastip showpage" title="Otevřít článek v novém listě" src="{!$baseUri}/images/cmsicons/zoom.png"></a>
					<span class="cms-remove-from-menu" data-href="{plink deleteFromMenu!, $inI->menu_id}"><img class="hastip showpage" title="Otevřít článek v novém listě" src="{!$baseUri}/images/cmsicons/delete.gif"></span>
				</td>
			</tr>
		{/foreach}
		</table>
		{/snippet}
	</div>
	{/form siteForm}
	
<!--	
<script>
	$(document).ready(function(){
		$('#checkbox-fingerboard').radiobutton({
			className: 'jquery-switch',
			checkedClass: 'jquery-switch-on',
		});
		$('#checkbox-lastRenderedAutomatically').radiobutton({
			className: 'jquery-switch',
			checkedClass: 'jquery-switch-on',
		});
		$('#checkbox-registredOnly').radiobutton({
			className: 'jquery-switch',
			checkedClass: 'jquery-switch-on',
		});
	});
</script>	-->

<style type="text/css">



		#frm-siteControl-siteForm input[type=text] { min-width: 600px;}
		#frm-siteControl-siteForm textarea { min-width: 600px; height: 35px; }
		#frm-siteControl-siteForm input[type=text]		{ width: 280px; }

	</style>