

{define #gallery}
{if !empty( $items )}
{foreach $items as $item}

	<div class="item-left">
		<a href="{$item->getUrl()}" title="{$item->getName()}">
			<img class="img3" src="{$item->getImage()}" alt="{$item->getName()}">
			<img class="img2" src="{$item->getImage()}" alt="{$item->getName()}">
			<img class="img1" src="{$item->getImage()}" alt="{$item->getName()}">
		</a><br />
		<div class="galleryname">{$item->getName()}</div>
	</div>


{/foreach}
{/if}<br />
{/define}




<div class="lb_gallery">
	<h2>{$section->getName()}</h2>
	<br />
	{var $items = $section->getSites()}

	{include #gallery}
	<br />
	<br />
	<div class="margin-bottom-big {if count($items)>3}border-bottom1{/} clear-left"></div>
</div>


<style type="text/css">
	
	.margin-bottom-big { margin-bottom: 30px }

	.item-left img {
		position: absolute;
		top: 23px;
		left: 35px;
	}
	.item-left:hover {
		-ms-transform: rotate(1deg); /* IE 9 */
		-webkit-transform: rotate(1deg); /* Chrome, Safari, Opera */
		transform: rotate(1deg);
	}
	.item-left .img1 {
		-ms-transform: rotate(0deg); /* IE 9 */
		-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
		transform: rotate(0deg);
	}
	.item-left .img2 {
		-ms-transform: rotate(7deg); /* IE 9 */
		-webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
		transform: rotate(7deg);
	}
	.item-left .img3 {
		-ms-transform: rotate(14deg); /* IE 9 */
		-webkit-transform: rotate(14deg); /* Chrome, Safari, Opera */
		transform: rotate(14deg);
		top: 23px;
		left: 35px;
	}
	.item-left {
		padding: 10px;
		min-width: 290px;
		max-width: 290px;
		position: relative;
		margin: 0;
		margin-bottom: 12px;
	}
	.item-left .galleryname {
		font-size: 14px;
		color: #eee;
		margin-top: 10px;
		text-transform: uppercase;
		font-weight: 700;
		position: relative;
		top: 188px;
	}
</style>

<script type="text/javascript" n:syntax="off">
var title = '';
$(window).load(function() {
	$(function() {
		$('.colorbox').colorbox({
			rel:'group1',
			title:title,
			maxWidth:'95%',
			maxHeight:'95%'
		});
	});
});
</script>