
{var $continue => false}
{var $depth => 1}
{var $iconfolder = $baseUri.'/images/common/cmsicons/' }


{block #treeView}
<ol class="{if $continue}border_parent {/if}{if $depth==1}cms-sortable{/if}">
    {foreach $items as $child}
    <li class="moveable" id="list_{$child->getId()}">
		<div class="item">
			<a class="menu-" name="menu-">
				<img src="{$child->getImage()}" height="30"/>
				<div class='url'>{$child->getName()}</div>
				
			</a>
			<div class="actions">
				<a href="{$child->getUrl()}" target="_blank">
					<img src="/images/common/cmsicons/zoom.png">
				</a>
				<a href="{plink edit!, $child->getId()}" class="ajax">
					<img src="/images/common/cmsicons/edit.gif">
				</a>
				<a onClick="return confirm('Opravdu smazat?')" href="{plink delete!, $child->getId()}" class="ajax">
					<img src="/images/common/cmsicons/delete.gif">
				</a>
			</div>
			<div class='clear-left'></div>
		</div>

	</li>
    {/foreach}
</ol>

