{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

{var $continue => false}
{var $depth => 1}
{var $iconfolder = $baseUri.'/images/cmsicons/' }

<!--<div id="tooltipsy5138" style="position: absolute; z-index: 2147483647;
	 top: 198px; left: 359.5px; display: block; opacity: 1">
<div class="bubbletooltip_tip">
Otevřít článek pičo
</div>
</div>-->


{block #treeView}
<ol class="{if $continue}border_parent {/if}{if $depth==1}sortable{/if}">
    {foreach $parents as $idMenu}
	{var $child => (object)$menuitem[$idMenu]}
    <li id="list_{$child->id_menu}" class="depth_{$depth}">
		<div class="item">
			<span class="menu_icon">
				{!$child|CmsIcon,$iconfolder}
			</span>
			{$child->menu}
			<div class="actions">
			{if $child->link == ':Front:News:show'}
				<a href="{link :Front:News:show, $child->path}" target="blank">
					<img src="{$iconfolder}zoom.png" class="hastip showpage" title="Otevřít článek v novém listě" />
				</a>
				<a href="{link edit, $child->id_menu, $section}">
					<img src="{$iconfolder}edit.gif" class="hastip" title="Uprav článek" alt="Uprav článek" />
				</a>
				<a href="{link confirmForm:confirmDelete! id => $child->id_menu}">
					<img src="{$iconfolder}delete.gif" class="hastip" title="Vymazat článek" alt="Vymazat článek" />
				</a>
			{elseif $child->link == '' && (empty($child->parent_id) || $child->parent_id != 0) }
				<a href="{link edit, $child->id_menu, $section}">
					<img src="{$iconfolder}edit.gif" class="hastip" title="Uprav článek" alt="Uprav článek" />
				</a>
				<a href="{link confirmForm:confirmDelete! id => $child->id_menu}">
					<img src="{$iconfolder}delete.gif" class="hastip" title="Vymazat článek" alt="Vymazat článek" />
				</a>
			{elseif $child->link == ':News:archiveList' }
				<a href="{link archiveList id => $child->id_clanek}">správa zpravodaje</a>
			{/if}
			</div>
		</div>
    {if $nodes->hasChildNodes($child->id_menu)}
        {if $iterator->isLast() OR $depth==1}
            {var $continue => false}
        {else}
            {var $continue => true}
        {/if}
        {include #treeView, 'parents' => $nodes->getChildNodes($child->$primary, $id_resource), 'continue' => $continue, 'depth' => $depth+1}
    {/if}
    {/foreach}
</ol>
{/block}
