
{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}


 {var $options => 1}
@{block #options}
<li><a href="{link list}">zpět [seznam článků]</a></li>
{/block}

@{block #content}
<div style="max-width: 600px;">
<dl>
	<dt>Typograficky správně formátovaný text.</dt>
	<dd>
		Pravidlem pro psaní čárek, teček, dvojteček aj. je posloupnost - konec slova - znak - mezera - začátek slova. Konktrétně:
		<ul>
			<li><strong>Špatně: </strong>Najdete zde nějaké informace o nás ,fotky , data koncertů ,naše ingelidentní poznatky ,blogy atd.</li>
			<li><strong>Správně: </strong>Najdete zde nějaké informace o nás, fotky, data koncertů, naše inteligentní poznatky, blogy atd.</li>
		</ul>
	</dd>

	<dt>Nepoužívejte "Nadpis 1"</dt>
	<dd>Stránky jsou pravidelně navštěvovány vyhledávači (google, seznam).
	Ty prohlíží obsah a formu dokumentu. Obsah hodnotí a podle něj upřednostnují
	pořadí stránky při vyhledávání. Vyhledávače mají rádi, když má dokument správně strukturovaný text.
	Jednou z důležitých praktik je mít na stránce pouze jeden Nadpis 1. Na počtu ostatních nadpisů nesejde.
	Z hlediska SEO je více je lépe.</dd>

	<dt>Delší textové odstavce</dt>
	<dd>Snažte se používat zarovnání do bloku. Typograficky je to lepší a budí to profesionálnější vzhled.</dd>

	<dt>Vkládání souborů</dt>
	<dd>
		<ul>
			<li>Soubor nejprve nahrajte v sekci <a href="{link files:}">nahrávání souborů<a/>.</li>
			<li>Skopírujte si do schránky odkaz k souboru z tabulky ve výpise souborů.</li>
			<li>V editačním okně článku klikněte na tlačítko "Vložit/změnit odkaz" a vložte do políčka URL</li>
			<li>V editačním okně článku klikněte na tlačítko "Vložit/změnit odkaz" a vložte do políčka URL</li>
			<li>Pro uživatelský komfort je vhodné otevírat stahované soubory v novém okně
				<ul>
					<li>To se provede v okně "Vložit/změnit odkaz" v záložce Cíl</li>
					<li>Z vysouvacího seznamu zvolte položku New Window (_blank)</li>
				</ul>
			</li>
		</ul>
	</dd>



</dl>
</div>
