
{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

{var $options = 1}
@{block #options}
<li><a href="{link list}">zpět [Seznam článků]</a></li>
<li><a n:if="!empty($id_menu)" href="{link :Admin:Gallery:list, $id_menu}">spravuj fotogalerii</a></li>
{/block}

@{block #content}



{snippet flashList}
			{if isset($flashes)}
			{foreach $flashes as $flash}
			{if $flash->type == 'INFO' ||
			$flash->type == 'ERROR' ||
			$flash->type == 'SUCCESS' ||
			$flash->type == 'WARNING' }
			<div class="flash_{$flash->type}">{$flash->message}</div>{/if}{/foreach}
			{/if}
			{/snippet}

{control newsForm}





<style type="text/css">
	.editablearea {
		min-width: 150px;
		min-height: 150px;
		border: 1px solid #fff;
	}

h5.title1 {
    color: #FFFFFF;
    font-weight: 700;
}
</style>

	{*
{control newsForm begin}
{control newsForm errors}
	{$form['article']->control}

{control newsForm end}
*}


<script type="text/javascript">
var editor = CKEDITOR.replace( 'frmnewsForm-article', {
	filebrowserBrowseUrl : '../../ckfinder/ckfinder.html?Type=Files',
	filebrowserImageBrowseUrl : '../../ckfinder/ckfinder.html?Type=Images',
	filebrowserFlashBrowseUrl : '../../ckfinder/ckfinder.html?Type=Flash',
	filebrowserUploadUrl : '../../ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
	filebrowserImageUploadUrl : '../../ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images',
	filebrowserFlashUploadUrl : '../../ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Flash',
	toolbar : 'MyFull',
	height: '600px;'
});
CKFinder.SetupCKEditor( editor) ;
</script>


{/block}

{block #htmlhead}
<script type="text/javascript" src="{!$baseUri}/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="{!$baseUri}/ckfinder/ckfinder.js"></script>
