@{block #content}

{* admin panel *}
<!-- http://stackoverflow.com/questions/18585159/how-to-convert-password-into-md5-in-jquery -->
<script type="text/javascript" src="{!$baseUri}/javascript/common/jquery.md5/jquery.md5.js"></script>
<div id="cms-control-bar">
	<div class='wrapper'>
		<input type="submit" value="Uložit" class="saveArticleBtn"/>
		<span class='changed isNotChanged' data-changed='0'>nezměněno</span>
	</div>
</div>


{* edit in grid *}
<div  class="grid_{$grid}">
	<div id="ckeditorcontent" data-id="{$article->id_article}" class="editablearea" contenteditable="true">{**}
		{!$article->article}
	</div>
	<div style="clear:both;"></div>
</div>





<script>
	var ArCmsSmileyFull =  [
		'regular_smile.png','sad_smile.png','wink_smile.png','teeth_smile.png','confused_smile.png','tongue_smile.png',
		'embarrassed_smile.png','omg_smile.png','whatchutalkingabout_smile.png','angry_smile.png','angel_smile.png','shades_smile.png',
		'devil_smile.png','cry_smile.png','lightbulb.png','thumbs_down.png','thumbs_up.png','heart.png',
		'broken_heart.png','kiss.png','envelope.png'
	];
	var ArCmsFullToolbar =  [
		{ name: 'document', groups: [ 'mode', 'document', 'doctools' ], items: [ 'Source', '-', 'Save', 'NewPage', 'Preview', 'Print', '-', 'Templates' ] },
		{ name: 'clipboard', groups: [ 'clipboard', 'undo' ], items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
		{ name: 'editing', groups: [ 'find', 'selection', 'spellchecker' ], items: [ 'Find', 'Replace', '-', 'SelectAll', '-', 'Scayt' ] },
		{ name: 'forms', items: [ 'Form', 'Checkbox', 'Radio', 'TextField', 'Textarea', 'Select', 'Button', 'ImageButton', 'HiddenField' ] },
		'/',
		{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ] },
		{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl', 'Language' ] },
		{ name: 'links', items: [ 'Link', 'Unlink', 'Anchor' ] },
		{ name: 'insert', items: [ 'Image', 'Flash', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar', 'PageBreak', 'Iframe' ] },
		'/',
		{ name: 'styles', items: [ 'Styles', 'Format', 'Font', 'FontSize' ] },
		{ name: 'colors', items: [ 'TextColor', 'BGColor' ] },
		{ name: 'tools', items: [ 'Maximize', 'ShowBlocks' ] },
		{ name: 'others', items: [ '-' ] },
		{ name: 'about', items: [ 'About' ] }
	];
	var ArCmsFullInlineToolbar =  [
//		{ name: 'document', groups: [ 'mode', 'document', 'doctools' ], items: [ 'sourcedialog', '-', 'Save', 'NewPage', 'Preview', 'Print', '-', 'Templates' ] },
		{ name: 'clipboard', groups: [ 'clipboard', 'undo' ], items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
		{ name: 'editing', groups: [ 'find', 'selection', 'spellchecker' ], items: [ 'Find', 'Replace', '-', 'SelectAll'/*, '-', 'Scayt'*/ ] },
		{ name: 'document', items: [ 'Sourcedialog'] },
		/*{ name: 'forms', items: [ 'Form', 'Checkbox', 'Radio', 'TextField', 'Textarea', 'Select', 'Button', 'ImageButton', 'HiddenField' ] },*/
		'/',
		{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ] },
		{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl' /*, 'Language'*/ ] },
		{ name: 'links', items: [ 'Link', 'Unlink', 'Anchor' ] },
		{ name: 'insert', items: [ 'Image', 'Flash', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar', /*'PageBreak',*/ 'Iframe' ] },
		'/',
		{ name: 'styles', items: [ 'Styles', 'Format', 'Font', 'FontSize' ] },
		{ name: 'colors', items: [ 'TextColor', 'BGColor' ] },
		{ name: 'tools', items: [ 'Maximize', 'ShowBlocks' ] },
		{ name: 'others', items: [ '-' ] },
		{ name: 'about', items: [ 'About' ] }
	];

	// set to not replace my content
	CKEDITOR.config.enterMode = CKEDITOR.ENTER_BR;
    CKEDITOR.config.forcePasteAsPlainText = false; // default so content won't be manipulated on load
    CKEDITOR.config.basicEntities = true;
    CKEDITOR.config.entities = true;
    CKEDITOR.config.entities_latin = false;
    CKEDITOR.config.entities_greek = false;
    CKEDITOR.config.entities_processNumerical = false;
    CKEDITOR.config.allowedContent = true; // don't filter my data
    CKEDITOR.config.fillEmptyBlocks = function (element) {
            return true; // DON'T DO ANYTHING!!!!!
    };
	CKEDITOR.config.format_ul =
    {
        element: 'ul',
        attributes:
        {
            'class': 'marker'
        }
    };


	// setting inline ck editor
//	CKEDITOR.disableAutoInline = true;
	var editor = CKEDITOR.inline(
		document.getElementById( 'ckeditorcontent' ),
		{
			extraPlugins: 'sourcedialog',
			filebrowserBrowseUrl : '../../ckfinder/ckfinder.html?Type=Files',
			filebrowserImageBrowseUrl : '../../ckfinder/ckfinder.html?Type=Images',
			filebrowserFlashBrowseUrl : '../../ckfinder/ckfinder.html?Type=Flash',
			filebrowserUploadUrl : '../../ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
			filebrowserImageUploadUrl : '../../ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images',
			filebrowserFlashUploadUrl : '../../ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Flash',
			toolbar : ArCmsFullInlineToolbar,
			height: '600px;',
			smiley_images: ArCmsSmileyFull
		}
	);






	$('.closeArticleBtn').click(function() {
		window.onbeforeunload = $(window).data('beforeunload');
		window.close();
	});
	$('.saveArticleBtn').click(function() { saveArticle(); });
	function saveArticle() {
		var article = $('#ckeditorcontent').html();
		var aid = $('#ckeditorcontent').data('id');
		$.nette.ajax({
			url: '?do=saveArticle&id_article='+aid,
			type: 'POST',
			data: {'aid': aid, 'article':article }
		});
		return false;
	}
</script>

<script n:syntax="off">
function askBeforeExit()
{
	// Initialize the handler for window.onbeforeunload.
	set_on_before_unload();
}

var window_on_before_unload = function(e) {
    var msg;
    // Do here what you ever you need to do
    msg = "Message for user";

    // Prevent next "window.onbeforeunload" from re-running this code.
    // Ensure that if the user decides to stay on the page that
    // this code is run the next time the user tries to leave the page.
    window.onbeforeunload = set_on_before_unload;

    // Prepare message for user
    if (msg) {
        if (/irefox\/([4-9]|1\d+)/.test(navigator.userAgent))
            alert(msg
                    + '\n\nThe next dialog will allow you to stay here or continue\nSee Firefox bug #588292');

        (e = e || window.event).returnValue = msg;
        return msg;
    }
};

// Set window.onbeforeunload to the above handler.
// @uses window_on_before_unload
// @param {Event} e
var set_on_before_unload = function(e) {
    // Initialize the handler for window.onbeforeunload.
	$(window).data('beforeunload',window.onbeforeunload);
    window.onbeforeunload = window_on_before_unload;
};

var dontAskBeforeExit = function(e) {
    window.onbeforeunload = null;
};
var setChanged = function(){
	$('#cms-control-bar .changed').text("Změněno");
	$('#cms-control-bar .changed').attr("data-changed", 1);
	$('#cms-control-bar .changed').addClass('isChanged');
	$('#cms-control-bar .changed').removeClass('isNotChanged');
	askBeforeExit();
};
var setSaved = function(){
	$('#cms-control-bar .changed').text("Uloženo");
	$('#cms-control-bar .changed').attr("data-changed", 0);
	$('#cms-control-bar .changed').addClass('isNotChanged');
	$('#cms-control-bar .changed').removeClass('isChanged');
	dontAskBeforeExit();
};

$(document).ready(function(){
	$('#ckeditorcontent').keyup(function(){
			setChanged();
	});
	$('#cms-control-bar .saveArticleBtn').click(function(){
			setSaved();
	});
});


</script>
{/block}

{block #htmlhead}
<script type="text/javascript" src="{!$baseUri}/ckeditor/ckeditor.js"></script>




<style type="text/css">
	#cms-control-bar .changed.isChanged { color: red; font-weight: 700; }
	#cms-control-bar .changed.isNotChanged { color: green; font-weight: 700; }
	.editablearea {
		min-width: 150px;
		min-height: 150px;
		border: 1px solid #fff;
	}

h5.title1 {
    color: #FFFFFF;
    font-weight: 700;
}
</style>


<style type="text/css">
	#cms-control-bar input { float: right }
	#cms-control-bar .changed { float:right; position: relative; top:10px; margin: 0 10px; }
	#cms-control-bar {
		position: fixed;
		top:0;
		left:0;
		width: 100%;
		height: 35px;
		background: #e2e2e2; /* Old browsers */
		background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
		border-bottom: 1px solid #fff;

		-moz-opacity: 0.89;
		-khtml-opacity: 0.89;
		opacity: 0.89;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=89);
		filter: progid:DXImageTransform.Microsoft.Alpha(opacity=89);
		filter:alpha(opacity=89);
	}
	#cms-control-bar .wrapper { width: 960px; margin: 0 auto; padding: 0 6px;}
	#cms-control-bar input.saveArticleBtn {
		margin-top: 5px
	}
	#cms-control-bar input.saveArticleBtn {
		-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
		-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
		box-shadow:inset 0px 1px 0px 0px #ffffff;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
		background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
		background-color:#ededed;
		-webkit-border-top-left-radius:6px;
		-moz-border-radius-topleft:6px;
		border-top-left-radius:6px;
		-webkit-border-top-right-radius:6px;
		-moz-border-radius-topright:6px;
		border-top-right-radius:6px;
		-webkit-border-bottom-right-radius:6px;
		-moz-border-radius-bottomright:6px;
		border-bottom-right-radius:6px;
		-webkit-border-bottom-left-radius:6px;
		-moz-border-radius-bottomleft:6px;
		border-bottom-left-radius:6px;
		text-indent:0;
		border:1px solid #dcdcdc;
		display:inline-block;
		color:#777777;
		font-family:arial;
		font-size:15px;
		font-weight:bold;
		font-style:normal;
		height:24px;
		line-height:24px;
		width:76px;
		text-decoration:none;
		text-align:center;
		text-shadow:1px 1px 0px #ffffff;
	}
	#cms-control-bar input.saveArticleBtn:hover {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
		background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
		background-color:#dfdfdf;
	}
	#cms-control-bar input.saveArticleBtn:active {
		position:relative;
		top:1px;
	}

</style>
