
{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

 {var $title =>  'Nahrané soubory'}
 {var $options => 1}
 @{block #options}
 <li><a href="">Nahrát nový</a></li>
 {/block}
@{block #content}

<table class="datagrid">

	<th>Soubor</th>
	<th>Velikost</th>
	<th>Odkaz</th>

	{foreach $files as $f}
	<tr>
		<td><a href="{!$baseUri}{$path}{$f['filename']}" target="blank">{$f['filename']}</a></td>
		<td>{$f['size']|bytes}</td>
		<td>{$_SERVER['SERVER_NAME']}{!$baseUri}{$path}{$f['filename']}</td>
	</tr>
{/foreach}
</table>

{/block}

{block #htmlhead}

{/block}
