<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
<link rel="stylesheet" type="text/css" href="/banskaliga.cz/webtemp/cssloader-92730d019bb2.css?1379008218" />
<style type="text/css">
	body { background-color: #000; background-image: none; }
</style>
	</head>
<body>
<div  class="grid_{$grid}">
	<div id="ckeditorcontent" data-id="{$article->id_article}" class="editablearea" contenteditable="true">{**}
		{!$article->article}
	</div>
</div>
</body>
	</html>
