
/* NEW VERSION*/
.cms-sortable ul li { list-style-type: none; }

.cms-sortable .depth_1>.item {
	background-color: #F1F1F1;
}

/* barva místa přemístění */
.cms-sortable .cms-placeholder { background-color: #FFFF85; height: 27px; }
/* barva místa kam nelze přenést*/
.cms-sortable .ui-nestedSortable-error {
	background:#fbe3e4;
	color:#8a1f11;
}



ol.cms-sortable {
	padding: 0;
	list-style-type: none;
}
ol.cms-sortable ol {
	padding: 0;
	margin: 0 0 0 25px;
	list-style-type: none;
}

.cms-sortable .menu_icon {
	margin-top: 2px;
	cursor:help;
}

.cms-sortable div.actions a {
	text-decoration: none;
}

ol.cms-sortable {
	width: 700px;
/*	margin: 4em 0;*/
}

.cms-sortable li {
	margin: 3px 0 0 0;
	padding: 0;
}

.cms-sortable li div.item:hover  {
	background-color: #ddd;
}
.cms-sortable li div.item  {

	-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;

	border: 1px solid #EBEBEB;
	padding: 3px;
	margin: 0;
	cursor: move;
}

.cms-sortable p,
.cms-sortable ol,
.cms-sortable  ul,
.cms-sortable pre,
.cms-sortable form {
	margin-top: 0;
	margin-bottom: 1em;
}

.cms-sortable .actions {
	float:right;
}

.cms-sortable span.help {
	color: #777;
	font-size: 12px;
}

.cms-sortable img.showpage {
	padding-bottom: 2px;
}
