
#frmnewsForm-parent_id  {width: 285px; }
#frmnewsForm-keywords  {width: 280px; }
#frmnewsForm-description  {width: 280px; }


#admin-cms-pages-edit .panelTable{
	float:left;
	margin-bottom: 10px;
}
#admin-cms-pages-edit .panelTable.left{
	margin-right: 10px;
	margin-bottom: 10px;
	padding-right: 10px;
	border-right: 1px solid #ACCB32;
}
