<div class="mydrop" id="cms-repository"><ul>
{foreach $cmsRepo as $repoItem}
	<li class="stored-grid ui-draggable" data-id="{$repoItem->serialized->id_grid}" style="position: relative;">
		prvek č.{$repoItem->serialized->id_grid}
		<span data-href="{link deleteFromRepo!, $repoItem->serialized->id_grid}" class="delete-grid"></span>
	</li>
{/foreach}
</ul>
</div>
